name: Java CI

on: 
  push:
    branches:
      - '**'
    # Sequence of patterns matched against refs/tags
    tags-ignore:
      - '**'
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        # test against latest update of each major Java version, as well as specific updates of LTS versions:
        java: [ 11, 17 ]
    name: Java ${{ matrix.java }} build
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Set up JDK ${{ matrix.java }}
        uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e # v5.1.0
        with:
          distribution: 'temurin' # See 'Supported distributions' for available options
          java-version: ${{ matrix.java }}
          cache: 'maven'
#      - name: Cache Maven packages
#        uses: actions/cache@0c907a75c2c80ebcb7f088228285e798b750cf8f # v4.2.1
#        with:
#          path: ~/.m2
#          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
#          restore-keys: |
#            ${{ runner.os }}-m2          
      - name: Show Maven version
        run: mvn --version
      - name: Build with Maven
        run: mvn --batch-mode --update-snapshots verify
  deploy:
    if: contains( github.ref, 'master')
    needs: build
    name: Deploy
    runs-on: ubuntu-latest
    environment: sonatype
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Set up JDK 11
        uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e # v5.1.0
        with:
          distribution: temurin
          java-version: 11
          cache: 'maven'
          server-id: central
          server-username: CENTRAL_USERNAME # env variable for username in deploy
          server-password: CENTRAL_PASSWORD # env variable for token in deploy
          gpg-private-key: "${{ secrets.GPG_SIGNING_KEY }}"
          overwrite-settings: false
      - name: Show Maven version
        run: mvn --version
      - name: Deploy snapshot artifacts
        env:
          CENTRAL_USERNAME: ${{ secrets.CENTRAL_USERNAME }}
          CENTRAL_PASSWORD: ${{ secrets.CENTRAL_PASSWORD }}
          GPG_PASSPHRASE: ${{ secrets.GPG_PASSPHRASE }}
        run: mvn --batch-mode deploy --settings .github/workflows/settings.xml -Dpgp.keyname=${{ secrets.GPG_KEY_NAME }} -DskipTests=true -Prelease-sign-artifacts
